.contact-form form {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 8%;
    display: block;
    flex-direction: column;
    align-items: flex-start;
    float: left;
    margin-top: -5%;
  }
  
  .contact-form label {
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    float: left;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form textarea {
    height: 150px;
  }
  
  .contact-form input[type="submit"] {
    background-color: #2EC980;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-form input[type="submit"]:hover {
    background-color: #2EC980;
  }

.success{
  margin-bottom: 10%;
  align-content: center;

  font-family: Montserrat, sans-serif;
}